<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <% categories.forEach(category => { %>
        <li>
            <a href="/category/<%= category.categories_id %>">
                <strong><%= category.c_name %></strong>
            </a>
        </li>
    <% }); %>
</main>

<%- include('partials/footer') %>