<%- include('partials/header') %>

<main>
    <h1><%= category.c_name %></h1>
    <% projects.forEach(project => { %>
        <li>
            <a href="/project/<%= project.project_id %>">
                <%= project.title%>
            </a>
        </li>
    <% }); %>
    <% if (user && user.role_name === 'admin') { %>        
        <a href="/edit-category/<%= category.categories_id %>">Edit Category</a>
    <% } %>
</main>

<%- include('partials/footer') %>