<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>My Info</h2>
    <p>Role: <%= role %></p>
    <p>Username: <%= email %></p>
    <div class="users">
        <% if (user && user.role_name === 'admin') { %>
            <li><a href="/users">Users</a></li>
        <% } %>
    </div>

</main>

<%- include('partials/footer') %>
