<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    
    <p>Here are a few of our partner organizations:</p>
    <ul class="organizations-cards">
        <% organizations.forEach(organization => { %>
            <li><img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo"><a href="/organization/<%= organization.organization_id %>"><%= organization.name %></a> <%= organization.contact_email %></li>
            <% }); %>
            <% if (user && user.role_name === 'admin') { %>
                <div class="add-organization-button">
                    <p><a href="/new-organization">Add a new organization</a></p>
                </div>            
            <% } %>
    </ul>

</main>
<%- include('partials/footer') %>

