<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul class="projects">
        <%projects.forEach(project => {%>
            <li>
                <strong><%= project.title %></strong> - <%= project.description %> 
                (<%= project.location %> - <%= new Date(project.date).toLocaleDateString() %>)
            </li>
        <%});%>
    </ul>
</main>
<%- include('partials/footer') %>