<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <ul class="projects">
        <% projects.forEach(project => { %>
            <li>
                <a href="/project/<%= project.project_id %>">
                    <strong><%= project.title %></strong>
                </a>
                - <%= project.description %> 
                (
                    <a href="/organization/<%= project.organization_id %>">
                        <%= project.organization_name %>
                    </a>
                    - <%= new Date(project.date).toLocaleDateString() %>
                )
            </li>
        <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>