<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2><%= projectDetails.title %></h2>
    <a href="/assign-categories/<%= projectDetails.project_id %>">Edit Categories</a>

    <p>Description: <%= projectDetails.description %></p>
    <p>Date: <%= projectDetails.date %></p>
    <p>Location: <%= projectDetails.location %></p>
    <p>
      Partner Organization:
      <a href="/organization/<%= projectDetails.organization_id %>">
        <%= projectDetails.organization_name %>
      </a>
    </p>

</main>
<%- include('partials/footer') %>