<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <% users.forEach(user => { %>
        <p>
            <%= user.email %> - 
            <%= user.role_name %>
        </p>
    <% }) %>
</main>

<%- include('partials/footer') %>